@import url("https://fonts.googleapis.com/css2?family=Share+Tech&display=swap");

/* 1. GENERAL */

/* :root {
  --main-color: #100f0f;
  --main-accent: #ad090a;
  --second-accent: #fffcfc;
  --third-accent: #cdc9c8;
} */

html {
  box-sizing: border-box;
  font-family: "Share Tech", sans-serif;
  font-size: 1.25em;
  font-weight: 400;
  font-style: normal;
  color: var(--second-accent);
  width: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: auto;
  width: 100%;
}

/* h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
} */

a {
  color: var(--second-color);
}

a:hover {
  text-decoration: none;
}

#main section {
  padding: 4em 1em;
}

/* HEADER */
.headContainer {
  display: flex;
  height: 150px;
  padding: 5px 10px;
  border-bottom: 1px solid;
  border-bottom-color: var(--main-accent);
}

.logo {
  height: 100px;
  width: 120px;
  border-radius: 20px;
  margin-top: 15px;
}
.siteName {
  margin: auto 10px;
}

.siteName a {
  display: block;
  width: 230px;
}

.menuToggle {
  display: none;
}
.dropdown {
  /* position: absolute; */
  display: none;
}

.nav {
  width: 600px;
}
.nav ul {
  display: flex;
  flex-flow: row wrap;
  column-gap: 1.5em;
  list-style: none;
  margin: 50px 0 0 40px;
  align-items: center;
  font-size: 30px;
}
.log ul {
  display: flex;
  flex-flow: row wrap;
  column-gap: 0.2em;
  list-style: none;
  margin-top: 30px;
  align-items: center;
  margin-left: 30px;
  font-size: 25px;
}

/* BODY */
.container {
  min-height: 100vh;
  width: 100%;
}

.banner {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
.imgBanner {
  height: 500px;
  width: 100%;
}

.titleBanner {
  /* margin: -300px 0 0 120px; */
  margin: 260px 0 0 0;
  padding: 20px;
  text-align: center;
  z-index: 1;
  position: absolute;
  color: var(--second-accent);
  border: var(--main-accent) 1px solid;
}
.explore {
  border: var(--third-accent) 1px solid;
  border-radius: 10px;
  padding: 10px 20px;
  color: var(--second-accent);
}

.titleBanner a:hover {
  color: var(--main-acent);
  border: var(--main-accent) 1px solid;
}

.intro {
  height: 250px;
  margin: 10px auto;
}

.flag {
  width: 100%;
  height: 200px;
  box-sizing: content-box;
  padding-top: 35px;
  position: relative;
  background: var(--main-accent);
  color: white;
  font-size: 11px;
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
}
.flag:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-bottom: 40px solid var(--main-color);
  border-left: 625px solid transparent;
  border-right: 625px solid transparent;
}
.content {
  margin: 20px auto;
}

.content h1 {
  color: var(--main-accent);
}

.post {
  display: flex;
  align-items: center;
  /* border-bottom: var(--third-accent) 1px solid; */
  border-top: var(--third-accent) 1px solid;
}

.imgPost {
  margin: 10px;
  height: 310px;
  width: 50%;
}

.shortDes {
  height: 370px;
  width: 50%;
}

.decript {
  height: 280px;
}
.shortDes h2,
h4 {
  color: var(--third-accent);
}

.shortDes a {
  padding: 10px 40px;
}

.shortDes a:hover {
  border: var(--main-accent) 1px solid;
  border-radius: 10px;
  padding: 10px 40px;
  color: var(--main-accent);
}

/* ADMIN */

.adminContainer {
  display: flex;
  /* column-gap: 1em; */
  margin: 0 auto;
  padding-bottom: 50px;
}

/* HOME */

.pageContent {
  padding-top: 50px;
  width: 100%;
}

/*CUSTOMER PAGE*/
.target {
  width: 600px;
  height: 600px;
}

.signOut {
  margin: 60px;
}

/*SCENARIO*/

.scenarios {
  display: flex;
  flex-flow: row wrap;
  gap: 2em 1em;
  text-align: justify;
  /* max-width: 1500px;
  margin: auto; */
}

.scenarios a:hover {
  box-shadow: var(--third-accent) 0px 4px 18px;
  border-radius: 10px;
}

.scenario {
  padding: 10px;
  height: 420px;
  color: var(--second-accent);
  border: var(--third-accent) 1px solid;
  border-radius: 10px;
  background-color: var(--main-color);
  /* margin: 0 auto; */
}

.scenImg {
  /* padding: 7px; */
  width: 300px;
  height: 180px;
  border-radius: 10px;
}

.scenario h2 {
  margin: 10px;
  width: 280px;
  height: 30px;
  text-align: center;
}

.scenario p {
  margin: 20px 10px 20px 10px;
  width: 280px;
  overflow: hidden;
  /* text-overflow: ellipsis; */
  line-height: 25px;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.buttonBar {
  width: 100%;
  margin: 0 auto;
}

.buttonBar a {
  float: left;
  border: var(--main-color) 0.5px solid;
  border-radius: 5px;
  padding: 5px 10px;
  width: 40%;
  text-align: center;
  color: var(--main-color);
  background-color: #f5f5f5;
  margin: auto 15px;
}

.buttonBar a:hover {
  background-color: var(--main-color);
  color: var(--second-accent);
  font-size: 22px;
  box-shadow: none;
  border-radius: 5px;
  border: var(--second-accent) 1px solid;
}

/* FOOTER */

.footerContainer {
  border-top: var(--main-accent) 1px solid;
  margin-top: 2px;
  height: 200px;
  display: flex;
  column-gap: 5em;
  margin-bottom: 20px;
}

.logoFooter {
  margin-top: 30px;
  width: 200px;
  height: 160px;
}
.navFooter ul {
  margin-top: 30px;
  text-align: left;
  list-style: none;
  line-height: 1.7em;
  font-size: 30px;
}

.logoSide {
  margin-left: 30px;
}

.contactFooter {
  text-align: left;
  line-height: 1em;
}

.contactInfor {
  display: flex;
  column-gap: 2em;
  margin: 0 auto;
}

.infor {
  font-size: 24px;
}

.hours {
  margin-left: 30px;
  text-align: left;
  font-size: 20px;
  /* color: var(--third-accent); */
}

/*Tablet style*/
@media screen and (max-width: 64em) and (min-width: 46.25em) {
  .menuToggle {
    /* position: relative; */
    display: block;
    cursor: pointer;
  }

  .menuToggle button {
    background-color: var(--main-color);
  }

  .dropdown {
    position: absolute;
    background: var(--main-color);
    z-index: 2;
    display: block;
    top: 135px;
    right: 0;
    width: 250px;
    height: 0;
    overflow: hidden;
    /* padding: 1em; */
    /* margin-top: 20px; */
    transition: all 2s cubic-bezier(0.16, 1, 0.3, 1);
  }

  .dropdown ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 250px;
    font-size: 25px;
  }

  .hamBox {
    position: relative;
    width: 44px;
    height: 44px;
    cursor: pointer;
    border-radius: 50%;
    border: var(--main-accent) 1px solid;
    transition: 0.3s ease;
    padding: 2.4em;
  }

  .hamBox:hover {
    background: var(--main-color);
  }

  .hamBoxOpen {
    background: var(--main-color);
  }

  .lineTop,
  .lineTwo,
  .lineBottom {
    margin: 0 auto;
    position: absolute;
    display: block;
    width: 44px;
    height: 4px;
    border-radius: 10px;
    background: var(--main-accent);
    left: 0;
    right: 0;
    transform: rotate(0deg);
    transition: all 0.4s;
  }

  .lineTop {
    top: 1.4em;
  }

  .lineTwo {
    top: 2.4em;
  }

  .lineBottom {
    bottom: 1.2em;
  }

  .lineTop.spin {
    top: 2.3em;
    transform: rotate(135deg);
    background: var(--main-accent);
  }

  .lineTwo.spin {
    display: none;
  }
  .lineBottom.spin {
    bottom: 2.3em;
    transform: rotate(225deg);
    background: var(--main-accent);
  }

  .nav ul {
    display: none;
  }
  .log ul {
    display: none;
  }

  /* BODY */

  .intro {
    height: 250px;
    margin: 10px auto;
  }

  .flag:after {
    border-left: 0px solid transparent;
    border-right: 0px solid transparent;
  }

  .post {
    display: flex;
    align-items: center;
    /* border-bottom: var(--third-accent) 1px solid; */
    border-top: var(--third-accent) 1px solid;
    margin-bottom: 20px;
  }

  .imgPost {
    margin: 10px;
    height: 310px;
    width: 50%;
  }

  .shortDes {
    position: relative;
    height: 390px;
    width: 50%;
  }

  .decript {
    height: 300px;
  }

  .shortDes a {
    padding: 10px 40px;
    position: absolute;
    left: 35%;
  }

  /* FOOTER */

  .footerContainer {
    margin-top: 2px;
    height: 100%;
    display: flex;
    column-gap: 2em;
  }
  .navFooter ul {
    font-size: 26px;
    margin-top: 30px;
    padding: 0;
  }

  .logoSide {
    margin-left: 20px;
  }

  .contactFooter {
    margin: 0 auto;
  }

  .contactFooter h2 {
    margin-bottom: 0;
  }

  .hours {
    /* margin-top: 45px; */
    font-size: 20px;
    /* width: 270px; */
    margin: 5px auto;
    /* color: var(--third-accent); */
  }
}

/*Phone style*/

@media screen and (max-width: 36em) and (min-width: 20em) {
  /* HEADER */

  .headContainer {
    padding: 0;
  }
  .siteName {
    font-size: 28px;
  }

  .siteName a {
    width: 160px;
  }

  .nav {
    width: 0;
  }
  .menuToggle {
    margin: 15px;
    display: block;
    cursor: pointer;
  }

  .menuToggle button {
    background-color: var(--main-color);
  }

  .dropdown {
    position: absolute;
    background: var(--main-color);
    z-index: 2;
    display: block;
    top: 135px;
    right: 0;
    width: 210px;
    height: 0;
    overflow: hidden;
    /* padding: 1em; */
    /* margin-top: 20px; */
    transition: all 2s cubic-bezier(0.16, 1, 0.3, 1);
  }

  .dropdown ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 200px;
    font-size: 25px;
  }

  .hamBox {
    position: relative;
    width: 28px;
    height: 28px;
    cursor: pointer;
    border-radius: 50%;
    border: var(--main-accent) 1px solid;
    transition: 0.3s ease;
    padding: 1.8em;
  }

  .hamBox:hover {
    background: var(--main-color);
  }

  .hamBoxOpen {
    background: var(--main-color);
  }

  .lineTop,
  .lineTwo,
  .lineBottom {
    margin: 0 auto;
    position: absolute;
    display: block;
    width: 34px;
    height: 4px;
    border-radius: 10px;
    background: var(--main-accent);
    left: 0;
    right: 0;
    transform: rotate(0deg);
    transition: all 0.4s;
  }

  .lineTop {
    top: 1.1em;
  }

  .lineTwo {
    top: 1.8em;
  }

  .lineBottom {
    bottom: 0.9em;
  }

  .lineTop.spin {
    top: 1.8em;
    transform: rotate(135deg);
    background: var(--main-accent);
  }

  .lineTwo.spin {
    display: none;
  }
  .lineBottom.spin {
    bottom: 1.6em;
    transform: rotate(225deg);
    background: var(--main-accent);
  }

  .nav ul {
    display: none;
  }
  .log ul {
    display: none;
  }

  /* BODY */

  .imgBanner {
    height: 300px;
  }

  .titleBanner {
    /* margin: -300px 0 0 120px; */
    margin: 100px 0 0 0;
  }

  .titleBanner h2 {
    font-size: 22px;
  }

  .titleBanner a {
    font-size: 20px;
  }
  .intro {
    height: 200px;
    margin: 10px auto;
  }

  .flag {
    padding-top: 3px;
    /* margin: 0 auto; */
    font-size: 8.5px;
    letter-spacing: 0.2em;
    text-align: justify;
  }
  .flag:after {
    border-left: 0px solid transparent;
    border-right: 0px solid transparent;
  }

  .flag h2 {
    margin: 5px;
  }

  .content h1 {
    font-size: 30px;
  }
  .post {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    max-width: 100%;
    /* border-bottom: var(--third-accent) 1px solid; */
    border-top: var(--third-accent) 1px solid;
    margin-bottom: 20px;
  }

  .imgPost {
    margin-top: 10px;
    margin-left: 0;
    height: 290px;
    width: 100%;
  }

  .shortDes {
    position: relative;
    height: 350px;
    width: 100%;
  }

  .decript {
    height: 250px;
  }

  .shortDes a {
    padding: 10px 40px;
    position: absolute;
    left: 35%;
  }

  /* FOOTER */

  .footerContainer {
    margin-top: 2px;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    column-gap: 3em;
  }
  .navFooter ul {
    font-size: 22px;
    text-align: left;
    padding: 0;
    margin-top: 30px;
  }

  .logoSide {
    margin-left: 10px;
    font-size: 18px;
  }

  .logoFooter {
    margin-top: 30px;
    width: 160px;
    height: 140px;
  }

  .contactFooter {
    margin: 0 auto;
  }

  .contactFooter h2 {
    font-size: 22px;
    margin-bottom: 0;
  }

  .contactInfor {
    display: flex;
    font-size: 18px;
  }

  .infor {
    font-size: 18px;
  }

  .hours {
    /* margin-top: 45px; */
    font-size: 18px;
    /* width: 270px; */
    margin: 0 auto;
    /* color: var(--third-accent); */
  }
}
